{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "max-len": ["error", {"code": 120}],
    "@typescript-eslint/explicit-function-return-type": "error",
    "class-methods-use-this": "off"
  }
}